<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Добро пожаловать в каталог!</h1>
        <p class="lead">Это домашняя страница вашего проекта.</p>
        <a class="btn btn-primary" href="{% url 'contacts' %}">Контакты</a>
    </div>
</body>
</html>